*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html,
body {
    height: 100%;
    background: #222831;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: url(Wave-10s-1699px.svg) bottom center no-repeat #222831;
    background-size: cover;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
