body {
    background: url(/assets/images/hero-background.svg) bottom center no-repeat
        #222831;
    background-size: cover;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-width: 320px; /* smallest screen size in use */
}

body::-webkit-scrollbar {
    display: none;
}

/* * {
    outline: 2px solid lime;
} */

#aa-logo {
    width: 50px;
}
#logo-container {
    outline: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: #373c43;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding: 0 2rem;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    left: -100px;
}

.logo-container {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;

    transition: 0.3s;
}

.navbar a:hover {
    color: #00adb5;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: start;
    padding: 12rem 8rem;
    background: transparent;
    margin: 0;
    color: #eeeeee;
}

.home-content {
    max-width: 600px;
    color: #eeeeee;

    background: rgba(0, 173, 181, 0.42);
    border-radius: 16px;
    box-shadow: 0px 10px 15px -3px rgba(23, 82, 98, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 700;
}

.home-content h3 {
    font-size: 2rem;
}

.home-content h1 {
    font-size: 4rem;
}

.developer-title,
#description-paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    opacity: 1;
    color: #eeeeee;
}

.title-text {
    height: 50px;
    color: #eeeeee;
}

.typing-cursor {
    display: inline-block;
    width: 0.2em;
    height: 1em;
    background-color: #00adb5;
    vertical-align: middle;
}

@keyframes cursor-blink {
    50% {
        background-color: transparent;
    }
}

.icons {
    text-align: center;
    margin-top: 10px;
}

.icons img {
    width: 30px;
    height: 30px;
    margin: 0 20px;
    display: inline-block;
}

.icons img:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}

.arrow-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1s infinite alternate;
}

.arrow {
    width: 40px;
    height: 40px;
    background: url("./assets/icons/nav-arrow.png") no-repeat center center;
    background-size: contain;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.arrow:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}

.arrow-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1s infinite alternate;
    z-index: 100;
}

.projects {
    background: #222831;
    display: flex;
    text-align: center;
    height: 100vh;
}

.project {
    display: inline-block;
    margin: 20px;
    background: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    transition: 0.3s ease-in-out;
}

.project-test {
    background: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-content-test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-images {
    outline: 2px solid lime;
}

/* .xpensr-images-test {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
} */

.project-content {
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project img {
    max-width: 100%;
    height: 250px;
    border-radius: 20px;
}

.project h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.project p {
    font-size: 16px;
    margin-top: 10px;
}

.project a {
    display: inline-block;
    background: #00adb5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

.project a:hover {
    background: #007580;
}

.my-portfolio {
    color: #00adb5;
    font-size: 40px;
}
.xpensr-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

.hanger-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

.muscle-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

.xpensrai-image {
    max-width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.5s ease-in-out;
    width: 500px;
}

.xpensrai-image.active {
    opacity: 1;
}

.hanger-image {
    max-width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.5s ease-in-out;
    width: 500px;
}

.hanger-image.active {
    opacity: 1;
}

.muscle-image {
    max-width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.5s ease-in-out;
    width: 500px;
}

.muscle-image.active {
    opacity: 1;
}

.skills {
    background: #393e46;
    padding: 100px 10%;
    text-align: center;
    color: #eeeeee;
}

.skills h2 {
    color: #00adb5;
    font-size: 40px;
}

.education,
.programming-skills {
    margin-top: 40px;
}

.education h3,
.programming-skills h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 20px;
    margin: 10px 0;
}

.skills {
    background: #222831;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills li {
    margin: 0 20px;
}

.skills a {
    text-decoration: none;
    color: #00adb5;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.skills a:hover {
    color: #007580;
}

.programming-skills li {
    display: inline-block;
    justify-content: center;
    width: 150px;
    margin: 15px;
}

#nextjs {
    margin-top: 40px;
}

#express {
    margin-top: 70px;
}

#prisma {
    margin-top: 55px;
}

#postgresql {
    margin-top: 25px;
}

#koa {
    margin-top: 25px;
}

#sequelize {
    margin-top: 5px;
}

#mongoose {
    margin-top: 10px;
}

#typescript {
    margin-top: 50px;
}

#figma {
    margin-top: 45px;
}

#three-logos {
    width: 250px;
}

.contact {
    background: #393e46;
    padding: 100px 10%;
    text-align: center;
    color: #eeeeee;
}

.contact-heading {
    color: #00adb5;
    font-size: 40px;
}

.contact-form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    text-align: left;
    width: 100%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: #00adb5;
    text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #00adb5;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

textarea {
    resize: vertical;
}

button {
    background: #00adb5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: #007580;
}

.form-group button {
    display: block;
    margin: 0 auto;
}

.contact-paragraph {
    font-size: 24px;
}

#calendly {
    display: none;
}

.calendly-badge-content > span {
    display: none;
    color: transparent;
    height: 0;
}
